* {
    box-sizing: border-box;
}

#logo {
    height: 150px;
    width: 150px;
    padding: 20px;
}

nav li:hover {
    background-color: skyblue;
    color: white;
}

.active {
    background-color: black;
    color: white;
}

.products-grid img, .cart img {
	object-fit: scale-down;
    width: 100%;
	height: 150px;
}

.product-img img {
    object-fit: scale-down;
    width: 100%;
    height: 500px;
}
@media only screen and (max-width: 600px) {
    .products-grid, form[name="login-form"] {
        width: 100%;
    }
}
@media only screen and (min-width: 600px) {
    .products-grid, form[name="login-form"] {
        width: 50%;
    }
}
@media only screen and (min-width: 768px) {
    .products-grid, form[name="login-form"] {
        width: 25%;
    }
}